///
/// This file regroups the variables that style odoo components.
/// They are available in every asset bundle.
///

// Font sizes
$o-font-size-base-touch: 15px;

// Colors
$o-gray-100: #f6f7fa;
$o-gray-200: #E0E2E6;
$o-gray-300: #C9CCD2;
$o-gray-400: #9DA1AA;
$o-gray-500: #80848F;
$o-gray-600: #626774;
$o-gray-700: #4A4F59;
$o-gray-800: #353840;
$o-gray-900: #212529;

$o-enterprise-color: #714B67;
$o-enterprise-primary-color: #017e84;
$o-enterprise-primary-color-light: scale-color($o-enterprise-primary-color, $lightness: 6%);

$o-brand-odoo: $o-enterprise-color;
$o-brand-primary: $o-enterprise-primary-color;
$o-brand-secondary: #8f8f8f;
$o-brand-lightsecondary: $o-gray-100;

$o-list-group-header-color: $o-gray-900;
$o-list-footer-color: $o-gray-900;
$o-list-footer-bg-color: white;
$o-list-footer-font-weight: 500;

$o-btn-secondary-bg: white;
$o-btn-secondary-hover-bg: $o-gray-100;
$o-btn-secondary-hover-border: $o-gray-200;

$o-dropdown-box-shadow: 0 12px 14px -10px rgba(black, 0.25);

$o-border-radius: .25rem;
$o-border-radius-lg: .3rem;
$o-border-radius-sm: .2rem;

// o-inputs
$o-input-padding-y: 1px;
$o-input-padding-x: 0;

$o-input-border-required: $o-gray-900;

// Badges
$o-badge-min-width: 2.7ch !default;

// Kanban
$o-kanban-header-title-height: 50px;

// touch
$o-touch-btn-padding: 7px 14px;
