.o_planning_calendar_container {

    #calendar_employee {
        flex-direction: column;
        max-width: 100%;
        height: auto;
    }

    .fc-day-grid-event {
        margin: 5px 2px 0;
        padding: 5px 10px;
    }

    .fc-day-grid-event .fc-content {
        white-space: normal;
    }

}

.o_planning_calendar_open_shifts {

    margin-top: 2rem;

    .close {
        outline: none !important;
    }

}

.fc-event:hover {
    cursor: pointer;
}

@media print {
    @page { size: A4 landscape; }

    html,
    body {
        height: unset;
    }

    body.o_connected_user {
        padding-top: 0 !important;
    }

    header,
    .o_main_navbar,
    .o_footer_copyright,
    footer#bottom {
        display: none;
    }

    .fc-today {
        background-color: unset !important;
    }
}
