.o_web_studio_client_action .o_web_studio_editor_manager_legacy.o_web_studio_report_editor_manager {
    display: flex;
    height: 100%;

    .o_web_studio_view_renderer {
        width: 100%;
        height: 100%;
    }
    .o_web_studio_sidebar_legacy {
        // make it bigger
        flex: 0 0 $o-web-studio-report-sidebar-width;
    }
    .o_web_studio_report_actions {
        @include o-position-absolute($top: 8px, $right: 24px);
        z-index: 1;

        .o_web_studio_report_print {
            margin-right: 8px;
        }

        .o_web_studio_report_pager {
            display: inline-block;
            background-color: $o-web-studio-bg-medium;
            border-radius: 5px;
            color: $o-web-studio-text-inactive;
            padding: 3px 3px 3px 8px;

            .o_input {
                color: initial;
            }
            .o_pager_counter {
                margin-right: 8px;
                vertical-align: middle;
                line-height: 1;
            }
            .btn-group > button {
                padding: 0 5px;
                @include o-web-studio-btn-variation($o-web-studio-bg-medium, $o-web-studio-bg-medium);
                @include o-hover-opacity;
            }
        }
    }
    // drag & drop
    .ui-draggable-handle, .ui-draggable-handle label {
        cursor: move;
    }
    .ui-draggable-helper {
        background-color: white;
        box-shadow: none;
        border: 1px solid black;
        z-index: $zindex-modal;
        .o_web_studio_component_description {
            display: none;
        }
        &.ui-draggable-dragging {
            transform: rotate(-5deg);
            box-shadow: 0 5px 25px -10px black;
            transition: transform 0.6s, box-shadow 0.3s;
        }
        &.ui-draggable-helper-ready {
            opacity: 1!important;
            line-height: 2;
            border: 2px solid $o-brand-primary;
        }
    }
}
