.o_view_sample_data .o_gantt_view_container .o_sample_data_disabled {
    opacity: 1;
    pointer-events: auto;
    user-select: auto;
} 

.o_gantt_view_container .o_sample_data_disabled {
    > *:first-child:not(.o_gantt_today) {
        pointer-events: auto;
    }

    .o_gantt_pill_wrapper {
        opacity: 0.33;
        pointer-events: none;
    }

    .o_gantt_today {
        opacity: 0.33;
    }
}
