.o_hr_payroll_dashboard_sheet {
    .col-md-7 {
        >.row {
            flex-direction: column;
        }
    }

    .col {
        .o_hr_payroll_dashboard_block {
            background-color: white;
            border: 1px solid #ced4da;
            border-radius: 1px;
            box-shadow: 2px 3px 4px lightgrey;

            h2.btn {
                font-size: 1.625rem !important;
            }
        }

        .o_hr_payroll_dashboard_block:not(:last-child) {
            margin-bottom:12px;
        }
    }
}

@include media-breakpoint-up(md) {
    .o_hr_payroll_dashboard_sheet {
        height: 100%;
        overflow: auto;

        .col-md-7 {
            >.row {
                flex-direction: row;
                min-height: 50%;
            }
        }

        .col {
            .o_hr_payroll_dashboard_block {
                min-height: 200px;
                height: 100%;
                min-width: 250px;
            }
        }
    }
}

@include media-breakpoint-down(md) {
    .o_hr_payroll_dashboard_sheet {
        .o_hr_payroll_dashboard_batches {
            .badge, div {
                font-weight: normal;
            }

            .badge-pill {
                font-size: smaller;
            }
        }
    }
}
