.o_knowledge_editor {
    min-height: 100%;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    color: #212529;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    .o_field_html {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .note-editable {
        border: none;
        background: transparent;
    }
    .note-editable,
    .o_readonly {
        flex-grow: 1;
        padding-top: 1rem !important;

        h1, h2, h3, h4, h5, h6 {
            margin-top: 0;
            font-weight: 500;
            line-height: 1.2;
        }
    }
    .o_field_property_add {
        margin: 0;
    }
    .o_property_field .o_td_label,
    .o_property_field .o_property_field_value {
        padding: 0;
    }
}

@include media-breakpoint-down(xl) {
    .o_knowledge_editor .note-editable,
    .o_knowledge_editor .o_readonly {
        padding-bottom: 1rem !important; //overriding html field's padding (web_enterprise style)
        h1 {
            font-size: calc(1.375rem + 1.5vw);
        }
        h2 {
            font-size: calc(1.325rem + 0.9vw);
        }
        h3 {
            font-size: calc(1.3rem + 0.6vw);
        }
        h4 {
            font-size: calc(1.275rem + 0.3vw);
        }
        h5 {
            font-size: 1.25rem;
        }
        h6 {
            font-size: 1rem;
        }
    }
}

@include media-breakpoint-up(lg) {
    .o_knowledge_editor .note-editable,
    .o_knowledge_editor .o_readonly {
        padding-bottom: 50vh !important; //overriding html field's padding (web_enterprise style)
        h1 {
            font-size: 2.5rem;
        }
        h2 {
            font-size: 2rem;
        }
        h3 {
            font-size: 1.75rem;
        }
        h4 {
            font-size: 1.5rem;
        }
        h5 {
            font-size: 1.25rem;
        }
        h6 {
            font-size: 1rem;
        }
    }
}

@media print {
    .o_knowledge_editor .note-editable,
    .o_knowledge_editor .o_readonly {
        padding-bottom: 0 !important; // overriding html field's padding (web_enterprise style)
    }
}
