//------------------------------------------------------------------------------
// Mobile Burger Menu
//------------------------------------------------------------------------------

.o_burger_menu {
  top: 0;
  bottom: 0;
  left: 100%;
  z-index: $zindex-tooltip + 10;
  transition: transform .2s ease;

  // Menu Toggle-Animations
  &, &.burgerslide-enter-to, &.burgerslide-leave {
    transform: translateX(-100%);
  }

  &.burgerslide-enter, &.burgerslide-leave-to {
    transform: translateX(0);
  }

  // Scoped pseudo classes
  %-main-entries-size {
    padding-top: 0;
    padding-bottom: 0;
    min-height: $o-navbar-height;
    font-size: $font-size-lg;
    line-height: $o-navbar-height;
  }

  // Scoped variables
  $-base-bg: darken($o-brand-odoo, 10%); // change to get variations on the fly (eg. 'dark mode')
  $-base-color: color-yiq($-base-bg);

  // ====== Top-Bar
  .o_burger_menu_topbar {
    flex: 0 0 $o-navbar-height;
    background: $-base-bg;
    color: $-base-color;
    @extend %-main-entries-size;

    .dropdown-toggle, .o_burger_menu_close {
      padding: 0 $o-horizontal-padding;
    }

    .o_burger_menu_close {
      font-size: $h2-font-size;
    }

    .dropdown-toggle {
      &:after {
        transform: rotate(-90deg);
      }

      &.active {
        background: $o-view-background-color;
        color: $o-main-headings-color;

        &:after {transform: none}
      }
    }
  }

  // ====== Menu content container (both App's and User's entries)
  .o_burger_menu_content {
    background: $o-view-background-color;

    &.o_burger_menu_dark {
      background-color: darken($-base-bg, 5%);
    }

    // Reset inner components
    ul, .o_dropdown_item, .o_dropdown_toggler {
      padding: 0;
      border: 0;
      position: relative;
      background-color: initial;
    }

    // Menu entries size and layout
    .o_dropdown_item, .o_dropdown_toggler {
      &, > span {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
      }

      > span {
        min-height: $o-navbar-height * .9;
        padding-left: $o-horizontal-padding;

        .fa {
          padding: $o-horizontal-padding;
          font-size: $font-size-sm;
        }
      }
    }

    // Handle menu text-indentation
    .o_dropdown_menu {
      margin-top: 0;
      text-indent: 1em;

      .o_dropdown_toggler {
        text-indent: 1em;
      }

      .o_dropdown_menu {
        text-indent: 2em;
      }

      .o_dropdown_item:last-child {
        padding-bottom: 1em;
      }
    }

    // First menu level entries are always bigger
    .o_user_menu_mobile > .dropdown-item,
    .o_menu_sections > .o_dropdown_item > span,
    .o_menu_sections > .o_burger_menu_section > .o_dropdown_toggler > span {
      @extend %-main-entries-size;
    }

    // ====== 'App menu' spefic design rules
    .o_burger_menu_app {
      .o_dropdown_item, .o_dropdown_toggler {
        @include o-hover-text-color(rgba($-base-color, .8), $-base-color);
      }

      .o_dropdown_active > span {
        box-shadow: inset 0 1px 0 rgba(invert($-base-color), .1);
      }

      .o_dropdown_active, .o_dropdown_menu {
        background-color: rgba(invert($-base-color), .1);
      }

      .o_dropdown_menu {
        box-shadow: inset 0 -1px 0 rgba($-base-color, .1);
      }
    }

    // ====== 'User Menu' spefic design rules
    .o_user_menu_mobile .dropdown-divider {
      margin-left: $dropdown-item-padding-x;
      margin-right: $dropdown-item-padding-x;
    }
  }
}


//------------------------------------------------------------------------------
// Design rules not scoped within the main component
//------------------------------------------------------------------------------

.o_web_client .o_main_navbar {
  .o_disabled {
    pointer-events: none;
    opacity: 0.4;
  }

  .o_mobile_menu_toggle {
    font-size: $h3-font-size;
  }
}

// Apps Switcher adjustments
body.o_home_menu_background .o_burger_menu_topbar .dropdown-toggle {
  background: $o-view-background-color;
  color: $o-main-headings-color;

  &:after {display: none}
}

@include media-breakpoint-down(sm) {
  .o_debug_dropdown {
    z-index: $zindex-tooltip + 10;
  }
}
