table > tbody.o_grid_section > tr {
    > .o_grid_current.o_cell_highlighted:not(.o_grid_total) {
        background-color: rgba(0, 160, 157, 0.17);
    }

    > th {
        width: 30rem !important;

        div {
            width: 100%;
        }

        div > :first-child {
            width: 20rem;
        }

        @include media-breakpoint-up(md) {
            .o-timer-play-button {
                opacity: 0;
            }
        }
    }

    &:hover .o-timer-play-button {
        opacity: 1;
    }
}

span#display_timer {
    margin-left: 1rem !important;
    width: 5rem;
}

button.timer_task {
    width: 1rem;
    height: 1.5rem;
}
