.green-savings-card {
    border-radius: 1rem;
    box-shadow: 0 0 2.5rem -.5rem rgba(black, .1);
    transition: .3s;
    cursor: pointer;

    &:hover {
        box-shadow: 0 0 5rem -.5rem rgba(black, .2);
    }

    &:active {
        transform: scale(1.1);
        box-shadow: 0 0 5rem -1rem rgba(black, .3);
    }

}

.green-savings-page-pdf {
    text-align: center;
}
.green-savings-card-pdf {
    display: -webkit-box !important; /* wkhtmltopdf flex */
    text-decoration: none;
    background: white;
    margin: 1em;
    padding: 1em 0.5em;
    border: 1px black solid;
    width: 500px;
    overflow: hidden;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
