.button_list.o_mrp_menu_dialog {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    button {
        flex: 1 1;
        min-height: 80px;
        font-size: 1.3em;
        margin: 5px;
        flex-basis: 45%;
    }

    span {
        flex-basis: 100%;
        margin-top: 15px;
        text-align: center;
    }
}
