.o_radio_hide_bullet {
    label::before {
        display: none;
    }
    label {
        @extend .btn;
        @extend .btn-secondary;
    }
    .custom-control {
        @extend .pl-0;
        @extend .mr-0;
    }
    .o_field_radio.o_horizontal.o_field_widget {
        margin-bottom: 1px;
    }
    label::after {
        display: none;
    }
}
