$o-pdis-sidebar-width: 320px;
$o-pdis-navbar-height: 74px;
$o-pdis-logo-size: 45px;
$o-pdis-actions-height: 59px;

.o_pdis_logo > img {
    height: $o-pdis-logo-size;
}

.o_pdis_navbar {
    height: $o-pdis-navbar-height;
}

.o_pdis_content {
    height: calc(100vh - #{$o-pdis-navbar-height});
}

.o_pdis_actions {
    height: $o-pdis-actions-height;
}

.o_pdis_sidebar {
    width: $o-pdis-sidebar-width;
    min-width: $o-pdis-sidebar-width;
}

.z-1000 {
    z-index: 1000;
}

.z-2000 {
    z-index: 2000;
}
