$sidebar-width: 320px;
$navbar-height: 75px;

* {
    user-select: none;
}

.o_pdis_navbar {
    height: $navbar-height;
}

.o_pdis_content {
    height: calc(100vh - #{$navbar-height});
}

.o_pdis_sidebar {
    width: $sidebar-width;
    min-width: $sidebar-width;
}
@include media-breakpoint-down(xl) {
    .o_pdis_close {
        display: none;
    }
}
