.o_view_sample_data .o_grid_renderer {
    pointer-events: none;
}

.o_grid_renderer {
    height: inherit;

    .o_grid_row, .o_grid_section {
        min-height: 2.5rem;
    }

    span, button {
        opacity: var(--text-opacity);
    }

    .o_grid_column_title {
        span {
            white-space: pre-line;
        }
    }

    .o_grid_grid .o_input {
        text-align: center;
        padding: 0;
    }

    .o_grid_column_title {
        &.o_grid_highlighted:not(.bg-info) {
            --bg-opacity: 0;
            &:not(.o_grid_row_highlighted) {
                background-color: $o-gray-200;
            }
        }

        &.fw-bold:not(.o_grid_highlighted) {
            background: $o-gray-100;
        }
    }

    .o_grid_section.o_grid_highlighted > .position-absolute:not(.bg-info-light) {
        background: $o-gray-200;
    }

    .o_grid_row:not(.o_grid_row_total):not(.o_grid_column_total) {
        &.o_grid_unavailable {
            --text-opacity: .5;
        }

        &.o_grid_highlighted {
            &.o_grid_row_highlighted {
                background: $o-gray-200;
            }

            &.o_grid_row_highlighted,.o_grid_cell_highlighted {
                > .position-absolute {
                    --bg-opacity: .5;
                }
            }

            &.o_grid_cell_highlighted {
                &:not(.o_grid_cell_today) {
                    background: $o-gray-200;
                }
            }

            &.o_grid_cell_today:not(.o_grid_cell_highlighted):not(.o_grid_row_highlighted) {
                > .position-absolute {
                    --bg-opacity: .25;
                }
            }
        }


        &:not(.o_grid_highlighted) {
            &.o_grid_row_even {
                //Change bg-view with white to keep zebra in dark mode
                background: $o-white;
            }

            &:not(.o_grid_row_even) {
                @extend .bg-light;
            }

            .o_grid_column_title {
                &:not(.o_grid_row_even) {
                    background: $light;
                }
            }

            > .position-absolute {
                --bg-opacity: .25;
            }
        }
    }

    .o_grid_row_total:not(.bg-danger) {
        &.o_grid_highlighted {
            background: $dark;
            color: $o-white;
        }

        &:not(.o_grid_highlighted) {
            background: $o-gray-700;
            color: $o-white;
        }
    }

    .o_grid_navigation_wrap {
        @include o-gantt-zindex(top);
    }

    .o_grid_row_title:not(.o_grid_row_even),
    .o_grid_add_line_first_cell {
        background: $o-gray-100;
    }

    .o_field_timesheet_many2one {
        .o_form_uri {
            color: $body-color;

            &:hover {
                color: $o-action;
            }
        }
    }
}
