.o_form_view {
    .o_planning_project_warning_dl {
        width: 100%;
        padding: 0;
        margin: 0;

        .o_planning_project_warning_dt {
            width: 4%;
            float: left;
        }
        .o_planning_project_warning_dd {
            width: 96%;
            float: left;
        }
    }
}
