
.o_control_panel {

    @include media-breakpoint-up(md) {
        .o_cp_top_left, .o_cp_top_middle, .o_cp_top_right {
            width: 33%;
        }
    }
    .o_cp_top_middle {
        text-align: center;
    }

    .o_selected {
        background-color: $list-group-active-bg;
    }
    .o_logo_img {
        height: 33px;
    }
}

.o_workcenter_item {
    border-radius: 0.4em;
    padding: 0.25rem;
    color: white;
    overflow: hidden;

    @include media-breakpoint-up(xl) {
        padding: 0.5rem;
    }
}

@for $size from 1 through length($o-colors) {
    // Note: the first color is supposed to be invisible if there is a color
    // field but it is used as a default color when there is no color field.
    .o_workcenter_item_color_#{$size - 1} {
        background-color: nth($o-colors, $size);
    }
}
