.o-spreadsheet {
    .fa {
        font-family: FontAwesome;
    }
}
.o_documents_content {
    .o_document_spreadsheet {
        cursor: zoom-in;
    }
    .o_spreadsheet_resize {
        object-fit: cover;
        object-position: left top;
    }
}


.o_spreadsheet_selector_dialog {
  option.o_new {
      font-style: italic;
  }
}

.o_content {
    .o_spreadsheet_action {
        height: 100%;
        .o_spreadsheet_container {
            height: 100%;
            .o-spreadsheet {
                height: 100%;
                .o_spreadsheet_pivot_side_panel, .o_spreadsheet_filter_editor_side_panel, .o_spreadsheet_global_filters_side_panel {
                    .o_side_panel_section {
                        background-color: #fff;
                        min-height: 60px;
                        padding: 10px;
                        .o_side_panel_title {
                            font-weight: bold;
                        }
                        .o_field_selector, .o_field_many2manytags, .o_field_many2one {
                            width: 100%;
                            &,
                            *,
                            *:before,
                            *:after {
                                box-sizing: border-box;
                            }
                        }
                    }
                }
                .o-spreadsheet-topbar .o-icon {
                    vertical-align: unset;
                }
                .o-spreadsheet-topbar .o-menu-dropdown-item .o-icon {
                    vertical-align: middle;
                }
                // Align spreadsheet menus and toolbar with the breadcrumb in Odoo
                .o-spreadsheet-topbar {
                    .o-topbar-toolbar .o-toolbar-tools {
                        margin-left: 16px !important;
                    }

                    .o_topbar_filter_icon {
                        padding: 3px 6px;
                        font-size: 20px;
                        cursor: pointer;

                        &:hover {
                            background-color: #ebebeb;
                        }
                    }
                }

                .o_filter_component {
                    display: flex;
                }

            }
        }
    }
}


.o_spreadsheet_cp {
    a.o_spreadsheet_favorite {
        margin: 0px 5px;
        @include o-hover-opacity(0.6, 1);
        @include o-hover-text-color($gray-400, $warning);
        &.favorite_button_enabled {
            @include o-hover-text-color($warning, $danger);
            transition: 0.3s color 0.1s;
        }
    }
    .o_spreadsheet_name {
        display: inline-block;
        max-width: 95%;
        input {
            max-width: 100%;
            text-overflow: clip;
            overflow: hidden;
            border: none;
            padding: 0px 5px 0px 2px;
            color: $o-brand-secondary;
            &:focus {
                outline: 1px solid #ccc;
                outline-offset: -1px;
                color: #000;
            }
            &.o-spreadsheet-untitled {
                font-style: italic;
            }
            &.o-spreadsheet-untitled:focus {
                font-style: normal;
            }
        }
    }

    .o_cp_top_left {
        width: 100%;
    }
    .o_cp_top_right {
        width: 0%;
    }
}

.o_control_panel {
    &.o_spreadsheet_cp {
        padding-bottom: 0px;
    }
}

.o-sidePanelButtons {
    .o-sidePanelButton {
        color: #666;
    }
}

.o_spreadsheet_global_filters_side_panel, .o_spreadsheet_filter_editor_side_panel {
    input {
        outline: none;
        width: 100%;
    }

    .pivot_filter_section {
        display: flex;
        flex-direction: row;
        .pivot_filter {
            flex-grow: 1;

            .pivot_filter_input {
                display: flex;
                flex-direction: row;
                flex-grow: 1;
                > div {
                    width: 100%;
                }
                .o_side_panel_filter_icon {
                    visibility: hidden;
                    width: 15px;
                    margin-left: 0.5rem;
                    padding: 0;
                    cursor: pointer;
                }
            }
            &:hover{
                .o_side_panel_filter_icon {
                    visibility: visible;
                }
            }
        }

    }

    .o_add_filter {
        font-weight: bold;
        margin-top: 20px;
    }

    .o-sidePanelButtons {
        display: flex;
        flex-direction: row;
        .o-sidePanelButton {
            flex-grow: 1;
        }
    }

    .date_filter_values {
        display: flex;
        flex-direction: row;

        select:not(:first-child) {
            margin-left: 10px;
        }
    }
}

.o_spreadsheet_filter_editor_side_panel {
    .o_global_filter_delete {
        color: $danger;
        float: left;
    }
}
