// = Onboarding Colors
// ============================================================================
// No CSS hacks, variables overrides only

.o_onboarding_main {
    $o-onboarding-colors: (
        'blue': (
            'bg': (#215e72, #1c3d4e),
            'ui': (#db851e, #c0ad73),
        ),
        'orange': (
            'bg': (#5c4436, #784536),
            'ui': ($o-brand-primary, #68B3C9),
        ),
        'violet': (
            'bg': (#424a7d, #333e6a),
            'ui': (#db851e, #c0ad73),
        ),
    );

    @each $key, $values in $o-onboarding-colors {
        &.o_onboarding_#{$key} {
            $-bg: map-get($values, 'bg');
            $-ui: map-get($values, 'ui');

            @include print-variable('o-onboarding-done-color', nth($-ui, 1));
            @include print-variable('o-onboarding-todo-color', nth($-ui, 2));
            @include print-variable('o-onboarding-bg_1-color', fade-out(nth($-bg, 1), 0.5));
            @include print-variable('o-onboarding-bg_2-color', nth($-bg, 2));
        }
    }
}

