.o_synchronize_facebook_events_widget {
    outline: none;
    user-select: none;
    cursor: pointer;
}

.o_social_post_facebook_color {
    color: #385898;
}

.o_social_stat_facebook_icon {
    background: #3B5998;
    color: white;
    max-width: 20px;
}
