.o_mrp_display {
    .state_label {
        &.pass {
            color: $success;
        }
        &.fail {
            color: $danger;
        }
    }
    .o_mrp_check_icon{
        width: 42px;
    }
}